@keyframes desplazarArribaAbajo 
{
    0%
    {
        transform: translate(0, -150vh)
    }
    100%
    {
        transform: translate(0, 0)
    }

}


@keyframes oscurecerColorModal 
{
    0%
    {
        background: rgba(0, 0, 0, 0);
    }
    100%
    {
        background-color: rgba(0,0,0,0.4);
    }
}