//----------------------------------VARIABLES DE COLORES CALENDARIO

//colorFondoHeader, colorTextoHeader, colorFondoDias, colorTextoDias, colorFondoDiasFalse, colorTextoDiasFalse

//Color tinieblas
cfhOscuro = #000000
cthOscuro = #ffffff
cfdOscuro = #14213d
ctdOscuro = #e5e5e5
cfdfOscuro = #e5e5e5
ctdfOscuro = #e5e5e5

//Color Inspiración
cfhInspiracion = #ff414d
cthInspiracion = #d9ecf2
cfdInspiracion = #1aa6b7
ctdInspiracion = #d9ecf2
cfdfInspiracion = #d9ecf2
ctdfInspiracion = #d9ecf2

//Color tinieblas
cfhTinieblas = #132743
cthTinieblas = #f8efd4
cfdTinieblas = #132743
ctdTinieblas = #f8efd4
cfdfTinieblas = #132743
ctdfTinieblas = #132743

//Color mora
cfhMora = #6a2c70
cthMora = #eeecda
cfdMora = #b83b5e
ctdMora = #eeecda
cfdfMora = #b83b5e
ctdfMora = #b83b5e

//Color oficina
cfhOficina = #625261
cthOficina = #e8e8e8
cfdOficina = #709fb0
ctdOficina = #eeecda
cfdfOficina = #709fb0
ctdfOficina = #709fb0