//----------------------------------VARIABLES DE COLORES CALENDARIO

//colorFondoHeader, colorTextoHeader, colorFondoDias, colorTextoDias, colorFondoDiasFalse, colorTextoDiasFalse

//Color Oscuro
cfhOscuro = #000000
cthOscuro = #ffffff
cfdOscuro = #14213d
ctdOscuro = #e5e5e5
cfdfOscuro = #e5e5e5
ctdfOscuro = #e5e5e5

//Color Inspirtación
cfhInspiracion = #ff414d
cthInspiracion = #d9ecf2
cfdInspiracion = #1aa6b7
ctdInspiracion = #d9ecf2
cfdfInspiracion = #d9ecf2
ctdfInspiracion = #d9ecf2
