@import "componentesStyl/variables.styl"
@import "componentesStyl/mixins_y_funciones.styl"
@import "componentesStyl/animaciones.styl"

/*Contenedor bloque, contiene el calendario en una grid*/
.calendario
    display: grid
    grid-template-columns: repeat(7, 7fr)
    
    /*Aquí se irán declarando los colores del calendario*/
    /*colorFondoHeader, colorTextoHeader, colorFondoDias, colorTextoDias, colorFondoDiasFalse, colorTextoDiasFalse*/
    &-oscuro
        cambiarColorCalendario(cfhOscuro, cthOscuro, cfdOscuro,ctdOscuro,cfdfOscuro, ctdfOscuro)
        cambiarColorVentanaModal(cfhOscuro, cthOscuro, cfdOscuro,ctdOscuro)
    
    &-inspiracion 
        cambiarColorCalendario(cfhInspiracion, cthInspiracion, cfdInspiracion, ctdInspiracion, cfdfInspiracion, ctdfInspiracion)
        cambiarColorVentanaModal(cfhInspiracion, cthInspiracion, cfdInspiracion, ctdInspiracion)
    /*Seleccionamos a los botones y fechas para añadirle estilos que solo se aplican a ellos*/
    &__btn:first-child
        botonCambioMes()
        border-radius: 10px 0px 0px 0px

    &__fecha
        grid-column: span 3
        text-align: center
        display: flex
        align-items: center
        justify-content: center

    &__btn:nth-child(3)
        botonCambioMes()
        border-radius: 0px 10px 0px 0px
    
    /*Se añaden caracteristicas comunes entre todos los botones*/
    &__btn
        padding: 1em;
        transition: .3s easy;

    //---------------Ventana Modal Diario--------------------
    &__modal
        background-color: rgba(0,0,0,0.4);
        position: fixed

        animation-duration: 1s;
        animation-name: oscurecerColorModal;

        left: 0;
        top: 0;

        z-index: 1
        width: 100%
        height: 100% 
        overflow: auto 

        display: flex;

        justify-content: center
        align-items: center
        
        &Contenido 
            width: 80%
            height: 80%
            background-color: white

            animation-duration: 1s;
            animation-name: desplazarArribaAbajo;

            border-radius: 30px 30px 30px 30px

            & > div:first-child
                text-align: center
                
                border-radius: 30px 30px 0px 0px
                
                font-size: 30px
                padding-top: 1em
                padding-bottom: 1em
                font-weight: bold

                & a 
                    float: right 
                    margin-right: 1em
                    text-decoration: none
                    
                    

            & > div:nth-child(n+2)
                display: grid
                grid-template-columns: 1fr 3fr

                text-align: center

                padding-top: 1em
                padding-bottom: 1em


